
#box{
    background-color: blue;
    width: 800px;
    height: 300px;
    margin: auto;
    
}

#caixaTexto{
    padding: 80px;
    font-size: 40px;
    margin:auto;
}

#select{
    background-color: rgb(48, 88, 122);
    width: 100px;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}
